<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body{
            text-align: center;
            background-color: black;
        }
        h1{
            color: red;
            font-size: 2em;
            margin: 20px;
            font-weight: bold;
        }
        p{
            color: white;
            font-size: 2em;
        }

    </style>
</head>

<body  vlink="white" alink="red">
    <h1>About</h1> 
    <div id="text" style="margin-top: 30px;">
    <span style = "color:orange;font-size:2em;">멋쟁이 사자처럼</span> 
    <span style="color: blue;font-size:2em;">at 삼육대학교</span> 
    </div>
    <p style="margin-top:0px;margin-bottom:10px;"><br>7기 김아름이 만든 wordeathcount사이트입니다.</p>
    <a href="{% url 'home'%}">home으로 가기</a>
</body>
</html>